aiohttp==3.9.5
certifi==2024.2.2
reportlab==4.2.0
colorama==0.4.6

pdfmetrics.registerFont(TTFont('DejaVuSans', 'fonts/DejaVuSans.ttf'))
pdfmetrics.registerFont(TTFont('DejaVuSans-Bold', 'fonts/DejaVuSans-Bold.ttf'))