{% extends "base.html" %}
{% block title %}Reports{% endblock %}
{% block header %}{{ 'Reports' if lang == 'EN' else 'Raporlar' }}{% endblock %}
{% block content %}
    <h2>{{ 'Reports' if lang == 'EN' else 'Raporlar' }}</h2>
    {% if message %}
        <p>{{ message }}</p>
    {% elif reports %}
        <ul>
            {% for repo in reports %}
                <li>{{ repo.name }}
                    <ul>
                        {% for file in repo.files %}
                            <li><a href="{{ url_for('main.view_report', repo_name=repo.name, filename=file, lang=lang) }}">{{ file }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}