<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ filename }} - {{ repo_name }} - Q-Pentest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <header>
        <h1>{{ filename }} - {{ repo_name }}</h1>
        <nav>
            <a href="{{ url_for('index', lang=lang) }}">{{ 'Home' if lang == 'EN' else 'Ana Sayfa' }}</a> |
            <a href="{{ url_for('nmap', lang=lang) }}">{{ 'Nmap' if lang == 'EN' else 'Nmap Tarayıcı' }}</a> |
            <a href="{{ url_for('about', lang=lang) }}">{{ 'About' if lang == 'EN' else 'Hakkında' }}</a> |
            <a href="{{ url_for('contact', lang=lang) }}">{{ 'Contact' if lang == 'EN' else 'İletişim' }}</a> |
            <a href="{{ url_for('reports', lang=lang) }}">{{ 'Reports' if lang == 'EN' else 'Raporlar' }}</a>
            <select id="language" onchange="changeLanguage()">
                {% for lang_code in langs %}
                    <option value="{{ lang_code }}" {% if lang_code == lang %}selected{% endif %}>{{ lang_code }}</option>
                {% endfor %}
            </select>
            <button id="theme-toggle"></button>
        </nav>
    </header>
    <main>
        <div id="markdown-content"></div>
        <div id="raw-markdown" style="display: none;">{{ content }}</div>
        <footer>
            <a href="{{ url_for('reports', lang=lang) }}">{{ 'Back to Reports' if lang == 'EN' else 'Raporlara Geri Dön' }}</a> |
            <a href="{{ url_for('index', lang=lang) }}">{{ 'Back to Home' if lang == 'EN' else 'Ana Sayfaya Geri Dön' }}</a>
        </footer>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const markdown = document.getElementById('raw-markdown').textContent;
            const html = marked.parse(markdown);
            document.getElementById('markdown-content').innerHTML = html;
        });
    </script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>